#userForm, #loginForm, #event-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: table;
}

#gender1, #gender2 {
    min-width: 250px;
    text-align: center;
}

label, #submitButton, #loginButton, #createEventButton, .event-box {
    min-width: 500px;
    padding: 12px;
    display: table-cell;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitButton, #loginButton, #createEventButton {
    background-color: deeppink;
}

#loginButton {
    margin-top: 15px;
}

input, select {
    display: table-cell;
    padding: 6px 0;
    text-align: center;
    width: 100%;
}


#navigationList {
    height: inherit;
    list-style-type: none;
    margin: 0 0 0 auto;
    padding: 0;
    overflow: hidden;
    display: flex;
    color: inherit;
}

.navigationListItem {
    background-color: inherit;
    border-left: 3px solid var(--textColor);
    color: inherit;
}
